.experiencias{
  position: relative;
  text-align: center;
  background: #ffffff;
}

.experiencias h2{
  font-size:3.5rem;
  color: #695ACF;
  font-family: "urbanist-bold";
  margin-top:90px;
  z-index: 55;
}

.experiencias-body{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom:50px;
  margin:0 auto;
  text-align: center;
}

.experiencia-box{
  position: relative;
  max-width: 90%;
  width: 950px;
  text-align: start;
  margin:0 auto;
}

.experiencia-box h3{
  margin-bottom:15px;
  font-size:0.9rem;
  color: #757575;
  font-family: "urbanist-bold";
}


.experiencia-info{
  width: 100%;
  position: relative;
  z-index: 8;
  padding:40px;
  background-color:  #f8f8f8;
  border-radius: 10px;
  box-shadow: 15px 15px 8px 0 rgba(0, 0, 0, 0.205);
}


.experiencia-titulos{
  font-family: "urbanist-semibold";
  color:#403686;
  font-size:1.5rem;
  
}

.experiencia-titulos h5{
  margin-top:10px;
  font-size:1rem;
  color: #968dcf;
}

.experiencia-descricao{
  width: 80ch;
  font-family: "urbanist-light";
  color: #363636;
  font-size: 1rem;
  line-height: 1.5rem;
  margin:25px 0 45px 0;
}

.experiencia-tags ul{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color:#ffffff;
  font-family: "urbanist-light";
}

.experiencia-tags ul li{
  padding:10px 20px 10px 20px;
  background: linear-gradient(75deg, #F99417, #dd7a00 );
  
}


@media screen and (max-width:955px) {
  .experiencia-descricao {
    width: 95%;
  }
}
@media screen and (max-width:470px) {
  .experiencia-descricao {
    font-size: 0.85rem;
    width: 100%;
  }
  li {
    width: 100%;
    text-align: center;
  }
}
