.experiencias{
  position: relative;
  text-align: center;
  z-index: 15;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
}

.experiencias h2{
  font-size:3.5rem;
  color: #695ACF;
  font-family: "urbanist-bold";
  margin-top:90px;
}

.experiencias-body{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  gap: 50px;
  padding-bottom:50px;
  margin:0 auto;
  text-align: center;
}

.experiencia-box{
  position: relative;
  max-width: 90%;
  width: 950px;
  text-align: start;
  margin:0 auto;
}

.experiencia-box h3{
  margin-bottom:15px;
  font-size:0.9rem;
  color:#F5F5F5;
  font-family: "urbanist-bold";
}


.experiencia-info{
  position: relative;
  z-index: 8;
  padding:40px;
  background-color:#F4F4F4;
  border-radius: 10px;
  box-shadow: 15px 15px 8px 0 rgba(0, 0, 0, 0.205);
}


.experiencia-titulos{
  font-family: "urbanist-semibold";
  color:#403686;
  font-size:1.5rem;
  
}

.experiencia-titulos h5{
  margin-top:10px;
  font-size:1rem;
}

.experiencia-descricao{
  width: 80ch;
  font-family: "urbanist-light";
  color:#292929;
  font-size: 1rem;
  line-height: 1.5rem;
  margin:25px 0 45px 0;
}

.experiencia-tags ul{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color:#ffffff;
  font-family: "urbanist-light";
}

.experiencia-tags ul li{
  padding:10px 20px 10px 20px;
  background: linear-gradient(75deg, #F99417, #dd7a00 );
  
}


.planes{
  background-color: #363062;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plane1{
  width: 50%;
  height: 50%;
}

.plane2{
  width: 35%;
  height: 35%;
}

.plane3{
  width: 20%;
  height: 20%;
}
