.apresentacao .center{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "inter-black";
  padding-top:160px;
  letter-spacing: 0.1rem;
  gap: 200px; 
}

.foto img{
  position: relative;
  border-radius: 30px;
  z-index: 2;
  box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.363);
}

.foto{
  position: relative;
  width: 400px;
  max-width: 100%;
}

.foto::after{
  content:"";
  position: absolute;
  width: 95%;
  height: 95%;
  transform: translate(20%, -14%);
  background-color: #ffffff;
  top:0;
  left:0;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.363);
}

.foto::before{
  content:"";
  position: absolute;
  width: 85%;
  height: 85%;
  transform: translate(50%, -28%);
  background-color: #054CB6;
  top:0;
  left:0;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.363);
}

.apresentacao-infos{
  text-align: center;
}

.apresentacao-infos h2{
  font-size:3rem;
  color:#054CB6;
}

.apresentacao-infos h3{
  font-size: 2rem;
  margin:15px 0 35px 0;
  color:#272727;
}

.apresentacao-infos p{
  position: relative;
  font-size:0.9rem;
  color:#444444;
}

.apresentacao-infos p::after{
  content: "";
  position: relative;
  display: block;
  width: 600px;
  max-width: 100%;
  height: 5px;
  background-color: #E7E7E7;
  margin:40px auto 0 auto;
  border-radius: 5px;
}

@media screen and (max-width:1300px) {
  .apresentacao-infos h2{
    font-size:2.2rem;
  }
  
  .apresentacao-infos h3{
    font-size: 1.7rem;
  }

  .apresentacao-infos p::after{
    width: 450px;
  }
}

@media screen and (max-width:1035px) {
  .apresentacao .center{
    gap: 130px;
  }
}

@media screen and (max-width:940px) {
  .apresentacao .center{
    flex-direction: column;
    gap: 70px;
  }

  .apresentacao-infos{
    width: 100%;
  }

  .foto::before{
    left: 50%;
    transform: translate(-50%, -28%);
  }
  .foto::after{
    left: 50%;
    transform: translate(-50%, -14%);
  }
}
@media screen and (max-width:320px) {
  .apresentacao-infos h2 {
    font-size: 1.9rem;
}

.apresentacao-infos h3 {
  font-size: 1.4rem;
}
}