.apresentacao{
  margin-bottom:200px;
}

.apresentacao .center{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:230px;
  letter-spacing: 0.1rem;
  gap: 200px; 
}

.foto img{
  position: relative;
  border-radius: 30px;
  z-index: 2;
  box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.363);
}

.foto{
  position: relative;
  width: 400px;
  max-width: 100%;
}

.foto::after{
  content:"";
  position: absolute;
  width: 95%;
  height: 95%;
  transform: translate(20%, -14%);
  background-color: #303030;
  top:0;
  left:0;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.363);
  opacity: 1;
}

.foto::before{
  content:"";
  position: absolute;
  width: 85%;
  height: 85%;
  transform: translate(50%, -28%);
  background-color: #003f9c;
  top:0;
  left:0;
  border-radius: 30px;
  box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.363);
  opacity: 1;
}

.apresentacao-infos{
  text-align: center;
}

.apresentacao-infos h2{
  font-size: 4.5rem;
  margin:15px 0 35px 0;
  color:#0050c7;
  max-width: 10ch;
  text-align: start;
  font-family: "urbanist-regular";
}

.apresentacao-infos p{
  position: relative;
  font-size:0.9rem;
  color:#303030;
  text-align: start;
  font-family: "urbanist-regular";
}

.apresentacao-infos h2::after{
  content: "";
  position: relative;
  display: block;
  width: 100px;
  max-width: 100%;
  height: 5px;
  background-color: #0000008e;
  margin-top:10px;
  border-radius: 5px;
}

@media screen and (max-width:1300px) {
  .apresentacao-infos h2{
    font-size:3rem;
  }
  
  .apresentacao-infos h3{
    font-size: 1.7rem;
  }

  .apresentacao-infos p::after{
    width: 450px;
  }
}

@media screen and (max-width:1035px) {
  .apresentacao .center{
    gap: 170px;
  }
}

@media screen and (max-width:1000px) {
  .apresentacao .center{
    flex-direction: column;
    gap: 70px;
  }

  .apresentacao-infos h2{
    text-align: center;
    margin: 0 auto;
    max-width: 20ch;
    font-size:2.6rem;
  }

  .apresentacao-infos p{
    text-align: center;
    margin-top:30px;
  }

  .apresentacao-infos{
    width: 100%;
  }

  .foto::before{
    left: 50%;
    transform: translate(-50%, -28%);
  }
  .foto::after{
    left: 50%;
    transform: translate(-50%, -14%);
  }
  .apresentacao-infos h2::after{
    margin:15px auto 0 auto;
    text-align: center;
  }
}
@media screen and (max-width:320px) {
  .apresentacao-infos h2 {
    font-size: 1.9rem;
  }

  .apresentacao-infos h3 {
    font-size: 1.4rem;
  }
}