.apresentacao{
  position: relative;
  width: 100%;
  background-color: #363062;
  padding-bottom: 400px;
}

.apresentacao .center{
  padding-top:250px;
  letter-spacing: 0.1rem;
  color:#F5F5F5;
}

.apresentacao-infos{
  text-align: center;
}

.apresentacao-infos h2{
  font-size: 5.5rem;
  margin:15px 0 35px 0;
  font-family: "urbanist-regular";
}

.apresentacao-infos p{
  position: relative;
  font-size:1.4rem;
  max-width: 40ch;
  text-align: center;
  margin:0 auto;
  font-family: "urbanist-regular";
}


.button-projetos{
  margin:0 auto;
  text-align: center;
  padding:20px;
  width: 200px;
  background-color: #F99417;
  font-family: "urbanist-bold";
  border-radius: 5px;
  margin-top:60px;
  font-size: 1.1rem;
  cursor: pointer;
  transform: scale(1);
  transition: 0.2s;
}

.button-projetos:hover{
  transform: scale(1.05);
  transition: 0.2s;
}

.button-projetos a{
  text-decoration: none;
  color:#F5F5F5;
}

@media screen and (max-width:1300px) {
  .apresentacao-infos h2{
    font-size:3rem;
  }
  
  .apresentacao-infos h3{
    font-size: 1.7rem;
  }

  .apresentacao-infos p::after{
    width: 450px;
  }
}

@media screen and (max-width:1035px) {
  .apresentacao .center{
    gap: 170px;
  }
}

@media screen and (max-width:1000px) {
  .apresentacao .center{
    flex-direction: column;
    gap: 70px;
  }

  .apresentacao-infos h2{
    text-align: center;
    margin: 0 auto;
    max-width: 20ch;
    font-size:2.6rem;
  }

  .apresentacao-infos p{
    text-align: center;
    margin-top:30px;
  }

  .apresentacao-infos{
    width: 100%;
  }
}

@media screen and (max-width:320px) {
  .apresentacao-infos h2 {
    font-size: 1.9rem;
  }

  .apresentacao-infos h3 {
    font-size: 1.4rem;
  }
}