
.cursos{
  position: relative;
  background-color: #054CB6;
  z-index: 16;
  padding-bottom:70px;
}

.cursos .center{
  background-color: #054CB6;
  text-align: center;
  box-shadow: 0 -50px 0 0 #054CB6;
  border-radius: 10px;
}

.title-cursos{
  position: relative;
  font-size: 2.2rem;
  font-family: "inter-Extralight";
  color:#ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title-cursos::before{
  content: "";
  position: relative;
  width: 3%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 2px;
}

.title-cursos::after{
  content: "";
  position: relative;
  width: 3%;
  height: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

.curso-body{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top:40px;
}

.curso-box{
  width: 330px;
  max-width: 100%;
  color:#ffffff;
}

.info-curso{
  background-color: #02255B;
  padding:40px 10px 40px 10px;
  border-radius: 7px 7px 0 0;
}

.info-curso h2{
  font-size:1.6rem;
  font-family: "inter-black";
}
.info-curso h3{
  font-size:1rem;
  font-family: "inter-Extralight";
  margin-top:10px;
}

.info-curso p{
  font-family: "inter-light";
  margin-top:25px;
}

.certificado{
  color:#0066FF;
  background-color:#ffffff;
  padding:10px 0 10px 0;
  font-family: "inter-light";
  border-radius: 0 0 7px 7px;
  cursor: pointer;
}