*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

img{
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "urbanist-Extralight";
  src: url(/fonts/Urbanist-ExtraLight.ttf);
}
@font-face {
  font-family: "urbanist-light";
  src: url(/fonts/Urbanist-Light.ttf);
}
@font-face {
  font-family: "urbanist-regular";
  src: url(/fonts/Urbanist-Regular.ttf);
}
@font-face {
  font-family: "urbanist-medium";
  src: url(/fonts/Urbanist-Medium.ttf);
}
@font-face {
  font-family: "urbanist-black";
  src: url(/fonts/Urbanist-Black.ttf);
}
@font-face {
  font-family: "urbanist-bold";
  src: url(/fonts/Urbanist-Bold.ttf);
}
@font-face {
  font-family: "urbanist-semibold";
  src: url(/fonts/Urbanist-SemiBold.ttf);
}

.center{
  width: 1600px;
  max-width: 90%;
  margin:0 auto
}

ul{
  list-style-type: none;
}

.concluido{
color: #77FF95;
}

.andamento{
color: #FFF177;
}

.nao-iniciado{
  color: #FFC977;
}
