.projetos{
  position: relative;
  padding:150px 0 190px 0;
  background-color: #4E458F;
  border: hidden;
}

.projetos h2{
  width: 70%;
  text-align: center;
  font-family: "urbanist-bold";
  color:#ffffff;
  font-size: 4rem;
  margin:0 auto 250px auto;
  background-color: #7F70F0;
  padding:40px 0 40px 0;
  border-radius: 10px;
  box-shadow: 23px 23px 8px 0 rgba(0, 0, 0, 0.205);
}

.projeto-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.projeto{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projeto img{
  position: relative;
  border-radius: 5px 0 0 5px;
  box-shadow: -10px 12px 6px 0 rgba(0, 0, 0, 0.315);
}

.informacao-projeto{
  position: relative;
  background-color: #403686;
  padding: 70px 40px 40px 70px;
  border-radius: 0 5px 5px 0;
}

.texto-projeto h3{
  font-family: "urbanist-black";
  color: #F5F5F5;
  font-size: 1.6rem;
}

.texto-projeto p{
  color: #F5F5F5;
  font-family: "urbanist-Extralight";
  margin:20px 0 40px 0;
  font-size: 1.2rem;
  max-width: 40ch;
}

.botoes-projeto{
  display: flex;
  gap: 15px;
}

.botoes-projeto a{
  width: 80px;
  max-width: 100%;
  display: inline-block;
  color: #F9F9F9;
  background-color:#F99417;
  padding:10px;
  font-family: "urbanist-semibold";
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transform: scale(1);
  transition: 0.2s;
}

.botoes-projeto a:hover{
  transform: scale(1.05);
  transition: 0.2s;
}

@media screen and (max-width: 890px) {
  .projetos .center{
    grid-template-columns: 1fr;
  }
}

