.projetos{
  position: relative;
  padding:150px 0 190px 0;
  box-shadow: 0 -1200px 0 0 #ffffff;
}

.projetos h2{
  text-align: center;
  font-family: "urbanist-bold";
  color:#444444;
  font-size: 2.5rem;
  margin:70px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.projetos h2::after{
  content: "";
  position: relative;
  width: 3%;
  height: 5px;
  background-color: #0064F9;
  border-radius: 2px;
}
.projetos h2::before{
  content: "";
  position: relative;
  width: 3%;
  height: 5px;
  background-color: #0064F9;
  border-radius: 2px;
}

.projetos .center{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.projeto img{
  box-shadow: 15px 15px 15px 0 #979797;
  border-radius: 10px;
  transition: 0.3s;
}

.projeto img:hover{
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

.decoration-box{
  position: absolute;
  width:100%;
  display: flex;
  justify-content: space-between;
}





@media screen and (max-width: 890px) {
  .projetos .center{
    grid-template-columns: 1fr;
  }
}

