.sobre{
  width: 100%;
  padding:170px 0 170px 0;
  background: #4E458F;
}

.sobre .center{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-items: start;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
}

.sobre-informações{
  padding-right: 150px;
  position: relative;
  z-index: 3;
}

.sobre-informações::after{
  content: "";
  position: absolute;
  bottom:-10%;
  left:0;
  width: 200px;
  height: 7px;
  border-radius: 5px;
  background-color: #F99417;
}

.historia h2{
  color:#ffffff;
  font-family: "urbanist-regular";
  font-size:4rem;
  text-align: start;
  margin-bottom: 50px;
}

.historia p{
  width: 55ch;
  color:#ffffff;
  font-family: "urbanist-Extralight";
  font-size:1.15rem;
  line-height: 2rem;
  text-align: start;
  margin-top:35px;
}

.skills{
  position: relative;
}


.skill-title{
  color:#ffffff;
  font-family: "urbanist-light";
  font-size:2rem;
  text-align: start;
}

.skill-tags ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 15px;
  margin-top:20px;
}

.tags{
  background-color: #39326b;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  padding:10px;
  border-radius: 5px;
  font-family: "urbanist-regular";
}

