
.sobre{
  box-shadow: 0 100px 0 0 #ffffff;
}

.tecnologias{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top:250px;
  z-index: 4;
}

.tecnologia{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  background-color: #02255B;
  box-shadow: inset 0 70px 0 0 #ffffff;
  border-radius: 20px;
}

.tecnologia-imagem{
  width: 100%;
}

.tecnologia-nome{
  position: absolute;
  width: 100%;
  top:0;
  left:50%;
  transform: translate(-50%, 7%);
  text-align: center;
  color:#ffffff;
  background-color: #02255B;
  padding:5px 20px 5px 20px;
  border-radius: 10px;
  font-family: "inter-black";
  font-size:0.8rem;
}

.sobre-informações{
  position: relative;
  width: 100%;
  padding:170px 0 0 0;
  background: linear-gradient(180deg, #054CB6, #02255B);
  box-shadow: 0 -50px 0 0 #054CB6;
  z-index: 3;
}


.historia h2{
  color:#ffffff;
  font-family: "inter-black";
  font-size:2rem;
  margin-bottom:40px;
  text-align: center;
}

.historia p{
  color:#ffffff;
  font-family: "inter-light";
  font-size:1.2rem;
  line-height: 1.6rem;
  text-align: center;
}

.habilidades h2{
  font-family: "inter-bold";
  font-size: 1.4rem;
  max-width: 15ch;
  color:#ffffff;
  margin-bottom:20px;
}

.habilidades{
  box-shadow: inset 0 -250px 0 0 #ffffff;
  margin-top:100px;
}

.habilidades .center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags-box{
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px 0 #0000001f;
  background-color: #ffffff;
  padding-bottom:20px;
}

.tags-box:nth-child(1){
  border-radius: 10px 0 0 10px;
  border:1px solid #eeeeee;
}
.tags-box:nth-child(2){
  border-radius: 0 10px 10px 0;
  border:1px solid #eeeeee;
}

.tags-box h2{
  color:#252525;
  padding-top:20px;
}

.tag{
  font-family: "inter-medium";
  color:#00398E;
  padding:15px;
  border-radius: 10px;
  text-align: center;
}

@media screen and (max-width:850px) {
  .tecnologias{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:510px) {
  .historia p{
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .habilidades .center{
    flex-direction: column;
  }

  .tags-box {
    width: 450px;
    max-width: 95%;
  }

  .tags-box:nth-child(1){
    border-radius: 10px 10px 0 0;
  }
  .tags-box:nth-child(2){
    border-radius: 0 0 10px 10px;
  }

}

@media screen and (max-width:410px) {
  .tecnologias{
    grid-template-columns:1fr;
  }

  .historia p{
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}